<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Adicione os links do Bootstrap abaixo ou inclua-os localmente -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEsPj9qFSnEIEcFvMz/3tUnE5Kp/KiGzo"
          crossorigin="anonymous">
    <title>{% block title %}Sua Aplicação{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Adicione os scripts do Bootstrap abaixo ou inclua-os localmente -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-cs/KFbVQVkAObznU7H5yu0VaA3pSzOTlMV+1Ld1BCN/EAM/CrjsGIpfs75J6jfoz"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEsPj9qFSnEIEcFvMz/3tUnE5Kp/KiGzo"
            crossorigin="anonymous"></script>
</body>
</html>

