<!-- templates/dados_conta.html -->

{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Dados da Conta</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <h2>Alterar Dados Pessoais</h2>
        <form method="POST" action="{{ url_for('dados_conta') }}">
            {{ form.hidden_tag() }}
            
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", required=true) }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", required=true) }}

            <button type="submit" class="btn btn-primary mt-3">Atualizar Dados</button>
        </form>

        <h2 class="mt-5">Alterar Senha</h2>
        <form method="POST" action="{{ url_for('alterar_senha') }}">
            {{ form.hidden_tag() }}
            
            {{ form.senha_atual.label(class="form-label") }}
            {{ form.senha_atual(class="form-control", required=true) }}

            {{ form.nova_senha.label(class="form-label") }}
            {{ form.nova_senha(class="form-control", required=true) }}

            {{ form.confirmacao_nova_senha.label(class="form-label") }}
            {{ form.confirmacao_nova_senha(class="form-control", required=true) }}

            <button type="submit" class="btn btn-primary mt-3">Alterar Senha</button>
        </form>
    </div>
{% endblock %}
