<!-- templates/listar_caminhoes.html -->

{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Listar Caminhões</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for caminhao in caminhoes %}
                    <tr>
                        <th scope="row">{{ caminhao.id }}</th>
                        <td>{{ caminhao.placa }}</td>
                        <td>{{ caminhao.empresa.nome_fantasia }}</td>
                        <td>
                            <a href="{{ url_for('editar_caminhao', caminhao_id=caminhao.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
