<!-- templates/listar_motoristas.html -->

{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Listar Motoristas</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome Completo</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for motorista in motoristas %}
                    <tr>
                        <th scope="row">{{ motorista.id }}</th>
                        <td>{{ motorista.nome_completo }}</td>
                        <td>{{ motorista.cpf }}</td>
                        <td>{{ motorista.telefone }}</td>
                        <td>
                            <a href="{{ url_for('editar_motorista', motorista_id=motorista.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
