<!-- templates/listar_agendamentos.html -->

{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Listar Agendamentos</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data de Chegada</th>
                    <th scope="col">Horário de Chegada</th>
                    <th scope="col">Tempo Estimado</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Caminhão</th>
                    <th scope="col">Motorista</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <th scope="row">{{ agendamento.id }}</th>
                        <td>{{ agendamento.data_chegada.strftime('%d/%m/%Y') }}</td>
                        <td>{{ agendamento.horario_chegada.strftime('%H:%M') }}</td>
                        <td>{{ agendamento.tempo_estimado }}</td>
                        <td>{{ agendamento.empresa.nome_fantasia }}</td>
                        <td>{{ agendamento.caminhao.placa }}</td>
                        <td>{{ agendamento.motorista.nome_completo }}</td>
                        <td>
                            <a href="{{ url_for('editar_agendamento', agendamento_id=agendamento.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
