<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Caminhões</title>
</head>
<body>
    <h1>Agenda de Caminhões</h1>

    {% if pedidos %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>CNPJ</th>
                <th>Nome da Empresa</th>
                <th>Placa do Caminhão</th>
                <th>Nome do Motorista</th>
                <th>CPF do Motorista</th>
                <th>Telefone da Empresa</th>
                <th>Data de Chegada</th>
                <th>Horário Previsto</th>
                <th>Tempo de Carregamento (min)</th>
                <th>Horário de Saída Previsto</th>
                <th>Opções</th>
            </tr>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido[0] }}</td>
                    <td>{{ pedido[1] }}</td>
                    <td>{{ pedido[2] }}</td>
                    <td>{{ pedido[3] }}</td>
                    <td>{{ pedido[4] }}</td>
                    <td>{{ pedido[5] }}</td>
                    <td>{{ pedido[6] }}</td>
                    <td>{{ pedido[7] }}</td>
                    <td>{{ pedido[8] }}</td>
                    <td>{{ pedido[9] }}</td>
                    <td>{{ pedido[10] }}</td>
                    <td>
                        <a href="{{ url_for('alteracao', id=pedido[0]) }}">Alterar</a>
                        | <a href="{{ url_for('excluir', id=pedido[0]) }}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nenhum pedido cadastrado.</p>
    {% endif %}

    <p><a href="{{ url_for('cadastro') }}">Cadastrar novo pedido</a></p>
</body>
</html>